@import
    "_cores";

.sobre {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sobre {
    
    &__titulo {
        color: $cinza-escuro;
        font-weight: 700;
        font-size: 1.5rem;
        font-family: "Montserrat";
        text-transform: uppercase;
        text-align: center;
    
        margin-bottom: 1.25rem;
    }
    

    &__texto {
        line-height: normal;
    
        margin-bottom: 1rem;
    }

    &__texto--destaque {
        color: $cinza-escuro;
        font-weight: 700;
    }
    

    &__plataformas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    
        margin-bottom: 1rem;
    }
}
